<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../public/assets/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body class="bg-info">
  <header class="bg-primary text-light p-4 mb-3">
    {{!-- if not logged in, show the user the login button --}}
    {{#if logged_in}}
    <nav style="font-size:1.5rem; float:right">
        <a href='/' id="homepage" class="pr-5">Home</a>
        <a href='/dashboard' id="dashboard" class="pr-5">Dashboard</a>
        <a href='/login' id="logout" class="pr-5">Logout</a>
    </nav>
    {{else}}
    <nav style="font-size:1.5rem; float:right">
        <a href='/' id="homepage" class="pr-5">Home</a>
        <a href='/dashboard' id="dashboard" class="pr-5">Dashboard</a>
        <a href="/login" id="login" class="pr-5">Login</a>
    </nav>
    {{/if}}
    <h1 style="font-size:3rem">
      The Tech Blog
    </h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>


{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>