<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header>
    {{!-- if not logged in, show the user the login button --}}
    {{#if logged_in}}
    <nav>
        <a href='/' id="homepage">Home</a>
        <a href='/dashboard' id="dashboard">Dashboard</a>
        <a href='/login' id="logout">Logout</a>
    </nav>
    {{else}}
    <nav>
        <a href='/' id="homepage">Home</a>
        <a href='/dashboard' id="dashboard">Dashboard</a>
        <a href="/login" id="login">Login</a>
    </nav>
    {{/if}}
    <h1>
      The Tech Blog
    </h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{!-- if logged in, attach the logout functionality --}} 
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{else}}
  {{!-- if logged in, attach the login functionality --}} 
  <script src="/js/login.js"></script>
  {{/if}}
</body>

</html>