<section class="dashboard-page">

    <div class="container display-flex">
        <div class="box col-12">
            {{#each userposts as |userpost|}}
            <div class="card flex-column">
                <div class="card-header display-flex justify-space-between">
                    <a href="./blogpost/{{id}}">
                    <h2> {{post.post_title}}</h2>
                    </a>
                    <h3>{{format_date post.post_date}}</h3>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <button id='newPost-button' class="btn btn-primary m-5 align-content-center"> New Post </button>
    
</section>

<script src="/js/newPost.js"></script>