<section class="dashboard-page">

    <div class="display-flex justify-center m-5">
        <button class="btn btn-primary" id='newPost-button'> New Post </button>
    </div>

    <div class="container display-flex">
        <div class="box col-12">
            {{#each userposts as |userpost|}}
            <a href="/dashboard/edit/{{id}}">
            <div class="card flex-column box-shadow">
                <div class="card-header display-flex justify-space-between">
                    <h2> {{userpost.post_title}}</h2>
                    <h3>{{format_date userpost.post_date}}</h3>
                </div>
            </div>
            </a>
            {{/each}}
        </div>
    </div>
</section>

<script src="/js/redirect.js"></script>