<section class="login-page">

<div class="card bg-light m-5 p-5 box-shadow">
    <h1>Login</h1>

    <form class="form login-form">
        <div class="form-group">
            <h3>Username</h3>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-group">
            <h3>Password</h3>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group display-flex py-2">
            <button style="flex-grow: 1" class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class= "form-group">
            <a href="/signup" style="font-size:1.5rem; color:black">Click Here to Sign Up!</a>
        </div>
    </form>

</div>
</section>

<script src="/js/login.js"></script>