<section class="newpost-page">

    <h1>New Post</h1>

    <form class="form newPost-form">
        <div class="form-group">
            <label for="new-title">Title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div class="form-group">
            <label for="new-content">Content:</label>
            <input class="form-input p-5" type="text" id="post-content" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Post</button>
        </div>

    </form>

</section>

<script src="/js/newPost.js"></script>