<section class="signup-page">

<div class="card bg-light m-5 p-5 box-shadow">

    <h1>Sign Up</h1>

    <form class="form signup-form">
        <div class="form-group">
            <h3>Username</h3>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
            <h3>Password</h3>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group display-flex py-2">
            <button style="flex-grow: 1"  class="btn btn-primary signup-button" type="submit">Sign Up</button>
        </div>
        <div class= "form-group">
            <a href="/login" style="font-size:1.5rem; color:black">Click Here to Login!</a>
        </div>
    </form>

</div>
</section>

<script src="/js/signup.js"></script>
