<section class="singlepost-page">

    <div class="container display-flex">
        <div class="box col-12">
            <div class="card flex-column">
                <div class="card-header display-flex justify-space-between">
                    <h2> {{post.post_title}}</h2>
                    </a>
                    <p class="my-auto">Posted by {{user.username}} on {{format_date post.post_date}}</p>
                </div>
                <div class="card-body bg-light" style="flex: 1">
                    <p>{{post.post_content}}</p>
                </div>
            </div>
        </div>
    </div>
    
</section>
